venv310/
venv/
.env/
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints/
*.log
myenv/
venv/
.venv/
__pycache__/
*.pyc
.DS_StoreApp/assets/stimuli/master/*.avi
App/assets/stimuli/master/*.mp4
App/assets/stimuli/master/*.mov
App/assets/stimuli/master/*.avi
App/assets/stimuli/master/*.mp4
App/assets/stimuli/master/*.mov
